body{
    direction: rtl;
    background-color: rgb(0, 0, 0); 
    margin: 0px;
    background-image: url(https://static.videezy.com/system/resources/thumbnails/000/005/110/small/zoids-4k-motion-background-loop.jpg);

    
}
header{
    font-style: oblique;
    font-size: 30px;
    text-align: center;
    background-color: black;

}
main{
    background-image:url(https://cdn.nody.ir/files/2024/06/23/nody-%D8%AF%D8%A7%D9%86%D9%84%D9%88%D8%AF-%D9%88%D8%A7%D9%84%D9%BE%DB%8C%D9%BE%D8%B1-%D9%85%D8%B4%DA%A9%DB%8C-%D8%AA%D8%B5%D9%88%DB%8C%D8%B1-%D8%B2%D9%85%DB%8C%D9%86%D9%87-%D8%B3%DB%8C%D8%A7%D9%87-%D8%B7%D8%B1%D9%81%D8%AF%D8%A7%D8%B1%DB%8C-1719155369.jpg);
    color: #ffee00;
    padding: 3px;
    display: flex;
}
footer{
    background-color: rgb(0, 0, 0);
    font-style: oblique;
    font-size: 20px;
    text-align: center;
    display: flex;
    margin: 5px;
    color: aliceblue;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer div{
    margin: 5px 5px;
    border-radius: 10px;  
    background-image: url(https://static.videezy.com/system/resources/thumbnails/000/043/277/small/01-21-.jpg);
}
aside,section{
    margin: 5px;
    border-radius: 10px;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fphoto.downloadefilm.ir%2Fcontent%2F2911804&psig=AOvVaw0q4NRDoLgM3_4Hc6ioauU7&ust=1733640840572000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCPiylYGKlYoDFQAAAAAdAAAAABAQ);
}
aside{
    text-align: center;
    flex-grow: 60;
}
section{
    text-align: center;
    flex-grow: 40;
}
#img1,#img2,#img3,#img4,#img5{
    width: 130px;
    height: 65px;
    margin: 5px;
    border-radius: 10px;
    border: 3px;
    border-style: solid;
    border-color: black;
}
ul{
    display: flex;
    justify-content: center;
}
li{
    list-style: none;
}
.item_menu{
    text-align: center;
    font-family:tahoma;
    background-color: rgb(0, 255, 255);
    padding: 3px;
    border-radius: 7px;
    box-shadow: 4px 5px 5px rgb(255, 251, 0);
    border: 1;
    border-style: solid;
    border-color: rgb(81, 255, 0);
    margin: 5px;
    width: 100px;
}
.sb{
    padding: 3px;
    text-align: center;
    font-size: 33px;
    color :rgb(229, 255, 0)
}
footer div:nth-child(1){
    padding: 0px 20px;
    flex-grow: 1;
}
footer div:nth-child(2){
    padding: 0px 20px;
    flex-grow: 4;
}
footer div:nth-child(3){
    padding: 0px 20px;
    flex-grow: 1;
}
a{
    text-decoration: none;
}

#pasword{
background-color: #ffee00;
color: black;
}
#repasword{
background-color: #ffee00;
color: black;
}
#username{
background-color: #ffee00;
color: black;
}