body{
    direction: rtl;
    background-color: rgb(0, 0, 0); 
    margin: 0px;
    background-image: url(https://static.videezy.com/system/resources/thumbnails/000/005/110/small/zoids-4k-motion-background-loop.jpg);

    
}
header{
    font-style: oblique;
    font-size: 30px;
    text-align: center;
    background-color: black;

}
main{
    background-image:url(https://img.freepik.com/free-photo/top-view-presents-with-copy-space-ribbon_23-2148465519.jpg?semt=ais_hybrid);
    padding: 3px;
    display: flex;
}
footer{
    background-color: rgb(0, 0, 0);
    font-style: oblique;
    font-size: 20px;
    text-align: center;
    display: flex;
    margin: 5px;
    color: aliceblue;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer div{
    margin: 5px 5px;
    border-radius: 10px;  
    background-image: url(https://static.videezy.com/system/resources/thumbnails/000/043/277/small/01-21-.jpg);
}
aside,section{
    background-color: gold;
    margin: 5px;
    border-radius: 10px;
}
aside{
    text-align: center;
    flex-grow: 60;
}
section{
    text-align: center;
    flex-grow: 40;
}
#img1,#img2,#img3,#img4,#img5{
    width: 130px;
    height: 65px;
    margin: 5px;
    border-radius: 10px;
    border: 3px;
    border-style: solid;
    border-color: black;
}
ul{
    display: flex;
    justify-content: center;
}
li{
    list-style: none;
}
.item_menu{
    text-align: center;
    font-family:tahoma;
    background-color: rgb(247, 255, 19);
    padding: 3px;
    border-radius: 7px;
    box-shadow: 4px 5px 5px rgb(0, 255, 170);
    border: 1;
    border-style: solid;
    border-color: rgb(0, 130, 255);
    margin: 5px;
    width: 100px;
}
.sb{
    padding: 3px;
    text-align: center;
    font-size: 50px;
}
footer div:nth-child(1){
    padding: 0px 20px;
    flex-grow: 1;
}
footer div:nth-child(2){
    padding: 0px 20px;
    flex-grow: 4;
}
footer div:nth-child(3){
    padding: 0px 20px;
    flex-grow: 1;
}
a{
    text-decoration: none;
}